.product {
	margin-block: 5rem;
}

.productHeader {
	display: flex;
	gap: 3rem;
}

.imgContainer {
	width: 350px;

    img {
        mix-blend-mode: darken;
    }
}

.info {
    max-width: 600px;
}

.title {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.descricao {
    line-height: 1.2;
    font-size: 1rem;
}

.preco {
    margin-block: 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
}